<?xml version="1.0" encoding="utf-8"?>
<robot name="climb_wall" xmlns:xacro="http://ros.org/wiki/xacro">

 <material name="Black">
    <color rgba="${0/255} ${0/255} ${0/255} 1.0"/>
  </material>


 <!--https://www.textures.com/browse/cliffs/2060 -->




<xacro:arg name="anchorZ" default="1."/>




	<link name="wall">
		<inertial>
 	        <mass value="10"/>
 	        <inertia ixx="0.4" ixy="0.0" ixz="0.0" iyy="0.4" iyz="0.0" izz="0.2"/>
  	     </inertial>

		<visual > <!-- dont put name otherwise gazebo discards color-->
 			<origin xyz="0 0 ${$(arg anchorZ)/2}"/>
			<geometry>
				<box size="0.1 $(arg anchorZ) $(arg anchorZ)"/>
			</geometry>
			<material name="Black"/><!--rviz"/-->
			
		</visual>
	        <collision name="box">
		       <origin xyz="0 0 ${$(arg anchorZ)/2}"/>
		       <geometry>
 				<box size="0.1 $(arg anchorZ) $(arg anchorZ)"/>
	        	</geometry>

			
	       </collision>

	</link>
	<gazebo>
	    <static>true</static>
	</gazebo>

	 <!--one of this /usr/share/gazebo-11/media/materials/scripts/gazebo.material   is for gazebo -->

	<gazebo reference="wall">
   	 <material>Gazebo/RockWall</material>
  	</gazebo>

</robot>
